<div class="main-messages-container">

    <div class="message-container text-left current-user-message-container" data-user-id="<%= @message.user %>" id="message-<%= message.id %>">
      <i class="author current-user-author">
        <% if message.user.photo.attached? %>
          <%= cl_image_tag message.user.photo.key, class: "avatar dropdown-toggle user-avatar", id: "user-chatroom-avatar" %>
        <% else %>
          <%= image_tag "http://squashcity.pl/wp-content/uploads/2020/08/placeholder-avatar-square.jpg", class: "avatar dropdown-toggle user-avatar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <span><%= message.user.first_name %></span>
        <span><%= message.user.last_name %></span>
        <small><%= l(message.created_at, format: :day) %> <%= l(message.created_at, format: :month_day) %> <%= local_time(l(message.created_at), format: :at_time) %></small>
      </i>
      <div class="message-paragraph current-user-messenger">
        <p><%= message.content %></p>
      </div>
    </div>
</div>

