<div class="page container d-flex justify-content-center flex-column">
  <h2 class="text-center">All you need is one subscription</h2>
  <p class="text-center">Choose the model that works best for you and start working out immediately!</p>
  <div class="membership-cards pt-5">
    <% @memberships.each do |membership| %>
      <div class="membership-card">
        <div class="membership-header">
          <p class="membership-title"><%= membership.title %></p>
        </div>
        <div class="membership-details">
          <p class="membership-credits"> <strong>Includes:</strong> <br> <br> <%= membership.credits %> live classes available per month</p>
          <p class="membership-description"> <%= membership.description %> </p>
        </div>
        <div class="membership-footer">
          <p class="membership-price"><strong><%= humanized_money_with_symbol(membership.price)  %></strong><span><strong> /month</strong> <br> Renewed monthly </span></p>
          <div class="membership-buttons">
            <form class="form-signin" action="/memberships/<%= membership.id %>/subscriptions" method="POST">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="hidden" name="user[email]" value="<%= current_user.email %>" id="user[email]" class="form-control" required="" autofocus="">
              <input type="hidden" type="text" value="<%= membership.title %>" name="user[membership]">
              <button class="btn subscribe-button" type="submit">Choose</button>
            </form>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
