<div class="memberships-banner row">
  <div class="memberships-banner-content col-sm-12 col-lg-6">
    <h1 class="mt-5"><%= t('.punchline') %></h1>
    <p class="mt-5"><%= t('.how_to') %></p>
    <div class="d-flex">
      <div class="round-border">1</div> <p class="ml-3"><%= t('.first') %></p>
    </div>
    <div class="d-flex">
      <div class="round-border">2</div> <p class="ml-3"><%= t('.second') %></p>
    </div>
    <div class="d-flex mb-5">
      <div class="round-border">3</div> <p class="ml-3"><%= t('.third') %></p>
    </div>
  </div>

  <div class="d-flex justify-content-center col-sm-12 col-lg-6">
    <div class="membership-cards pt-5">
      <% @memberships.each do |membership| %>
        <div class="membership-card">
          <div class="membership-header">
            <p class="membership-title"><%= membership.title %></p>
          </div>
          <div>
            <div class="membership-details">
              <p class="membership-description"><i class="fas fa-check"></i><%= t('.membership_details.first') %></p>
              <p class="membership-description"><i class="fas fa-check"></i><%= t('.membership_details.second') %></p>
              <p class="membership-description"><i class="fas fa-check"></i><%= t('.membership_details.third') %></p>
              <p class="membership-description"><i class="fas fa-check"></i><%= t('.membership_details.fourth') %></p>
              <p class="membership-description"><i class="fas fa-check"></i><%= t('.membership_details.fifth') %></p>
            </div>
            <div class="membership-footer">
              <p class="membership-price"><strong><%= humanized_money_with_symbol("26.99")  %></strong><span><%= t('.price_html') %></span></p>
              <div class="membership-buttons">
                <form class="form-signin" action="/memberships/<%= membership.id %>/subscriptions" method="POST">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <label for="inputEmail" class="sr-only">Email address</label>
                  <input type="hidden" name="user[email]" value="<%= current_user.email %>" id="user[email]" class="form-control" required="" autofocus="">
                  <input type="hidden" type="text" value="<%= membership.title %>" name="user[membership]">
                  <button class="btn subscribe-button" type="submit"><%= t('.subscribe') %></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
