<div class="new-class-page">
  <div class="row d-flex">
    <div class="form-image-sign-up col-sm-12 col-lg-5">
      <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611748153/OH5C6089_copy-min_t6vkql.jpg", class: "form-image-sign-up" %>
    </div>
    <div class="col-sm-12 col-lg-7">
      <div class="form-login">
        <div class="form-header">
          <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1609194683/Yance-logo-svg_qq3q16.svg", class: "form-logo-login" %>
          <h2 class=""><%= t('.tagline') %></h2>
          <p><%= t('.switch') %><strong><%= link_to t('.login'), new_user_session_path %></strong> </p>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="d-flex justify-content-between ">
              <%= f.input :first_name,
                          label: t('.first_name'),
                          required: true,
                          autofocus: true,
                          placeholder: t('.first_name'),
                          input_html: { autocomplete: t('.first_name') },
                          class: "login-name" %>
              <%= f.input :last_name,
                          label: t('.last_name'),
                          required: true,
                          autofocus: true,
                          placeholder: t('.last_name'),
                          input_html: { autocomplete: t('.last_name') },
                          class: "login-name" %>
            </div>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        placeholder: "email",
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        label: t('.password'),
                        required: true,
                        hint: (t('.security', security: @minimum_password_length) if @minimum_password_length),
                        placeholder: t('.new_password'),
                        input_html: { autocomplete: t('.new_password') } %>
            <%= f.input :password_confirmation,
                        label: t('.confirmation'),
                        required: true,
                        placeholder: t('.confirmation_placeholder'),
                        input_html: { autocomplete: "new-password" } %>
            <div class="form-actions">
              <%= f.button :submit, t('.submit'), class: "btn class-log-in-button" %>
              <p class="pt-2"><span> <%= t('.terms') %> </span> <strong><%= link_to t('.terms_link'), policy_path %></strong></p>
              <%= render "devise/shared/links", class: "btn class-sign-up-button" %>
            </div>
          </div>
        <% end %>
        </div>
    </div>
  </div>
</div>

