<div class="main-messages-container">
  <% if sports_class_message.user == current_user %>
    <div class="sports-class-message-container text-right current-user-message-container" id="sports_class_message-<%= sports_class_message.id %>">
      <i class="author current-user-author">
        <small><%= local_time(sports_class_message.created_at.strftime("%a %b %e at %l:%M%p")) %></small>
        <span><%= sports_class_message.user.first_name %></span>
        <span><%= sports_class_message.user.last_name %></span>
        <% if sports_class_message.user.photo.attached? %>
          <%= cl_image_tag sports_class_message.user.photo.key, class: "avatar dropdown-toggle user-avatar", id: "user-chatroom-avatar" %>
        <% end %>
      </i>
      <div class="message-paragraph current-user-messenger">
        <p><%= sports_class_message.content %></p>
      </div>
    </div>
  <% else %>
    <div class="sports-class-message-container text-left not-current-user-message-container" id="sports_class_message-<%= sports_class_message.id %>">
      <i class="author">
        <% if sports_class_message.user.photo.attached? %>
          <%= cl_image_tag sports_class_message.user.photo.key, class: "avatar dropdown-toggle user-avatar" %>
        <% end %>
        <span><%= sports_class_message.user.first_name %></span>
        <span><%= sports_class_message.user.last_name %></span>
        <small><%= local_time(sports_class_message.created_at.strftime("%a %b %e at %l:%M%p")) %></small>
      </i>
      <div class="message-paragraph">
        <p><%= sports_class_message.content %></p>
      </div>
    </div>
  <% end %>
</div>
