<div class="page container">
  <%= simple_form_for [@trainer, @sportsclass] do |f| %>
    <%= f.input :title,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: 'The title of your class' } %>
    <%= f.input :description,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: 'Your class in a few sentences' } %>
    <%= f.input :date_time,
                hint: "leave it blank if you don't want to change it",
                required: false %>
    <%= f.input :duration,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: 'How long will your class be?' } %>
    <%= f.input :category,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: 'What type of sport category fits best to your class?' } %>
    <%= f.input :experience_level,
                hint: "leave it blank if you don't want to change it",
                required: false,
                as: :radio_buttons, collection: ["Beginner", "Good", "Advanced"], wrapper: :vertical_collection_inline %>
    <%= f.input :difficulty_level,
                hint: "leave it blank if you don't want to change it",
                required: false,
                as: :radio_buttons, collection: [1, 2, 3], wrapper: :vertical_collection_inline %>
    <%= f.input :sweat_level,
                hint: "leave it blank if you don't want to change it",
                required: false,
                as: :radio_buttons, collection: [1, 2, 3], wrapper: :vertical_collection_inline %>
    <%= f.input :equipment,
                hint: "leave it blank if you don't want to change it",
                required: false,
                as: :radio_buttons%>
    <%= f.input :language,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: 'In which language will you do your class?' } %>
    <%= f.input :photo,
                hint: "leave it blank if you don't want to change it",
                required: false,
                as: :file %>
    <%= f.button :submit, class: 'btn btn-primary sweet-alert', notice: "Your class has been saved!" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
  <% end %>
</div>
