<div class="page d-flex mb-5">
<!-- sidebar filters -->
  <div class="sidebar">
    <div class="sidebar-position">
      <p> Narrow your search </p>
      <div class="dropdown-filter">
        <%= form_for(SportsClass.new, url: sports_classes_path, method: :get) do |s| %>
            <%= s.select(:category, SportsClass.categories, {prompt: 'Sport Type', selected: params.dig(:sports_class, :category) }, { onchange: "this.form.submit()" } )%>
          <%= s.hidden_field(:starts_at, value: params[:starts_at] ) %>
        <% end %>
      </div>
      <div class="dropdown-filter">
        <%= form_for(SportsClass.new, url: sports_classes_path, method: :get) do |s| %>
          <%= s.select(:difficulty_level, SportsClass.difficulty_level,  {prompt: 'Difficulty Level', selected:  params.dig(:sports_class, :difficulty_level) }, { onchange: "this.form.submit()" })  %>
          <% if  params[:sports_class].present? %>
            <%= s.hidden_field(:category, value: params[:sports_class][:category]) %>
          <% end %>
        <% end %>
      </div>
      <div class="dropdown-filter">
        <%= form_for(SportsClass.new, url: sports_classes_path, method: :get) do |s| %>
          <%= s.select(:experience_level, SportsClass.experience_level, {prompt: 'Experience Level', selected: params.dig(:sports_class, :experience_level) }, { onchange: "this.form.submit()" })  %>
          <% if  params[:sports_class].present? %>
            <%= s.hidden_field(:category, value: params[:sports_class][:category]) %>
            <%= s.hidden_field(:difficulty_level, value: params[:sports_class][:difficulty_level]) %>
          <% end %>
        <% end %>
      </div>
      <div class="dropdown-filter">
        <%= form_for(SportsClass.new, url: sports_classes_path, method: :get) do |s| %>
          <%= s.select(:sweat_level, SportsClass.sweat_level, {prompt: 'Sweat Level', selected:  params.dig(:sports_class, :sweat_level) }, { onchange: "this.form.submit()" })  %>
          <% if  params[:sports_class].present? %>
            <%= s.hidden_field(:category, value: params[:sports_class][:category]) %>
            <%= s.hidden_field(:difficulty_level, value: params[:sports_class][:difficulty_level]) %>
            <%= s.hidden_field(:experience_level, value: params[:sports_class][:experience_level]) %>
          <% end %>
        <% end %>
      </div>
      <div class="dropdown-filter">
        <%= form_for(SportsClass.new, url: sports_classes_path, method: :get) do |s| %>
          <%= s.select(:duration, SportsClass.durations, {prompt: 'Duration', selected: params.dig(:sports_class, :duration) }, { onchange: "this.form.submit()" })  %>
          <% if  params[:sports_class].present? %>
            <%= s.hidden_field(:category, value: params[:sports_class][:category]) %>
            <%= s.hidden_field(:difficulty_level, value: params[:sports_class][:difficulty_level]) %>
            <%= s.hidden_field(:experience_level, value: params[:sports_class][:experience_level]) %>
            <%= s.hidden_field(:sweat_level, value: params[:sports_class][:sweat_level]) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="page container d-flex justify-content-center flex-column">
    <!-- search bar -->
    <div class="search-container">
      <div class="row justify-content-center">
        <div class="col-sm-8 mt-3">
          <%= form_tag sports_classes_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control searchbar",
              placeholder: "All sports"
            %>
             <%= text_field_tag :starts_at,
              params[:starts_at],
              class: "datepicker",
              placeholder: "Date"
              %>
            <div class="button">
              <%= button_tag(type: "submit", class: "btn search-button") do %>
                <i class="fas fa-search search-icon"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  <!-- user bookings -->
      <% if user_signed_in? %>
        <% if @classbookings.length > 0 %>
            <h2 class="all-classes-title pt-5">Your upcoming classes</h2>
            <div class="booked-sports-classes-cards pt-3 ">
                <%= render collection: @classbookings, partial: "shared/booked-sport-class-card", as: :classbooking %>
            </div>
        <% end %>
      <% end %>
  <!-- favorite classes -->
      <div class="filter-cards">
        <h2 class="all-classes-title">Most popular classes</h2>
        <%= render "shared/filter-cards" %>
      </div>

  <!-- all classes -->
      <h2 class="all-classes-title mt-5">All classes</h2>
      <div class="sports-classes-cards pt-3">
        <%= render collection: @sports_classes, partial: "shared/sport-class-card", as: :sports_class %>
      </div>
    </div>
  </div>
