<div class="container d-flex justify-content-center flex-column">
  <div class="search_bar d-flex justify-content-center">
   <p>This will be the search bar</p>
  </div>
  <div class="favourites d-flex justify-content-start">
    <h2>All your favourite sports</h2>
  </div>
  # <% if @user.classbookings? %>
    <div class="upcoming-classes">
      <h2>All your upcaming classes</h2>
      <% @classbooking.each do |classbooking| %>
      <% end %>
    </div>
  <% end %>

  <div class="sports_classes_cards d-flex flex-row p-5">
      <% @sports_classes.each do |sports_class| %>
    <div class="card p-3 m-3 rounded">
        <p><%= sports_class.duration %></p>
        <p><%= sports_class.category %></p>
        <p><%= sports_class.date_time.strftime("%A %b %d %Y %H:%M") %></p>
        <p><%= sports_class.title %></p>
        <p><%= sports_class.trainer.user.first_name %></p>
        <div class="info-book-buttons d-flex justify-content-center">
          <a class="btn btn-dark px-1 m-1" href="#" role="button"><%= link_to "Book", sports_class_class_bookings_path(sports_class,@classbooking), method: "POST" %></a>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            info
          </button>
        </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable sports-class-modal-dialog">
              <div class="modal-content sports-class-modal-content">
                <div class="sports-class-modal-inner-content row justify-content-between">
                  <div class="sports-class-modal-left-column col-5 border pt-4 pl-5">
                    <div class="sports-class-modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"> <%= sports_class.title %></h5>
                      <p><%= sports_class.date_time.strftime("%A %b %d %Y %H:%M") %></p>
                      <p><%= sports_class.category %></p>
                    </div>
                    <div class="sports-class-modal-class-image">
                      <%= cl_image_tag("https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606233503/5ga1phiumirnzxngyiccpzfjp42j.jpg", width: 250, height: 200, crop: :fill) %>
                    </div>
                    <div class="sports-class-modal-levels d-flex justify-content-between">
                      <div class="sports-class-modal-experience">
                        <p>LEVEL</p>
                        <p> <%= sports_class.experience_level %> </p>
                      </div>
                      <div class="sports-class-modal-difficulty">
                        <p>DIFFICULTY</p>
                        <p> <%= sports_class.difficulty_level %> </p>
                      </div>
                      <div class="sports-class-modal-sweat">
                        <p>SWEAT</p>
                        <p> <%= sports_class.sweat_level %> </p>
                      </div>
                    </div>
                    <div class="sports-class-modal-sweat">
                      <p>Equipment needed?</p>
                      <p> <%= sports_class.equipment %> </p>
                    </div>
                  </div>
                  <div class="sports-class-modal-right-column col-7 border pt-4 pr-5">
                    <div class="sports-class-modal-right-header d-flex justify-content-between">
                      <div class="sports-class-modal-trainer-name">
                        <span><%= sports_class.trainer.user.first_name %> <%= sports_class.trainer.user.last_name %></span>
                      </div>
                      <div class="sports-class-modal-avatar">
                        <%= cl_image_tag("https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606233503/5ga1phiumirnzxngyiccpzfjp42j.jpg", width: 100, height: 100, crop: :fill) %>
                      </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="sports-class-modal-description">
                      <p>Class description</p>
                      <p><%= sports_class.description %></p>
                    </div>
                    <div class="sports-class-modal-bio">
                      <p>Trainer bio</p>
                      <p><%= sports_class.trainer.bio %></p>
                    </div>
                    <div class="align-center pr-3 py-2">
                      <button type="button" class="btn class-modal-book-button" data-dismiss="modal">book</button>
                    </div>
                    <div class="align-center pr-3 py-2">
                      <button type="button" class="btn class-modal-info-button">visit trainer profile</button>
                    </div>
                  </div>
                </div>
<!--                 <div class="modal-footer d-flex justify-content-center">
                </div> -->
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>


<!-- t.string "title"
    t.text "description"
    t.datetime "date_time"
    t.string "duration"
    t.string "category"
    t.integer "difficulty_level"
    t.integer "sweat_level"
    t.string "experience_level"
    t.boolean "equipment", default: false
    t.string "language"
    t.bigint "trainer_id", null: false
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.index ["trainer_id"], name: "index_sports_classes_on_trainer_id"
  end -->
