<div class="page container d-flex justify-content-center flex-column">
  <!-- search bar -->
  <div class="search-container">
   <div class="row justify-content-center">
      <div class="col-sm-8 mt-3">
        <%= form_tag sports_classes_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control searchbar",
            placeholder: "All sports"
          %>
           <%= text_field_tag :starts_at,
           params[:starts_at],
          class: "datepicker",
            placeholder: "Date"
            %>
          <div class="button">
            <%= button_tag(type: "submit", class: "btn search-button") do %>
              <i class="fas fa-search search-icon"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- user bookings -->
  <% if user_signed_in? %>
    <% if current_user.class_bookings.length > 0 %>
        <h2 class="all-classes-title pt-5">Your upcoming classes</h2>
        <div class="booked-sports-classes-cards pt-3 ">
          <% @classbookings.each do |classbooking| %>
            <%= render partial: "shared/booked-sport-class-card", locals: { classbooking: classbooking } %>
          <% end %>
        </div>
    <% end %>
  <% end %>

  <!-- favorite cllasses -->
  <% if user_signed_in? %>
    <div class="filter-cards">
      <h2 class="all-classes-title">Your favorite classes</h2>
      <%= render "shared/filter-cards" %>
    </div>
  <% end %>

<!-- all classes -->
    <h2 class="all-classes-title mt-5">All classes</h2>
    <div class="sports-classes-cards pt-3">
      <% @sports_classes.each do |sports_class| %>
        <%= render partial: "shared/sport-class-card", locals: { sports_class: sports_class } %>
      <% end %>
    </div>
</div>
</div>
