<div class="page container d-flex justify-content-center flex-column">

  <div class="search-container">
   <div class="row justify-content-center">
      <div class="col-sm-8 mt-3">
        <%= form_tag sports_classes_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control searchbar",
            placeholder: "All sports"
          %>
           <%= text_field_tag :starts_at,
           params[:starts_at],
          class: "datepicker",
            placeholder: "Date"
            %>
          <div class="button">
            <%= button_tag(type: "submit", class: "btn search-button") do %>
              <i class="fas fa-search search-icon"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <% if current_user.class_bookings.length > 0 %>
        <h2 class="all-classes-title pt-5">Your upcoming classes</h2>
        <div class="booked-sports-classes-cards pt-3">
          <% @classbookings.each do |classbooking| %>
            <div class="booked-sports-classes-card pt-3">
              <div class="booked-class-card-header d-flex justify-content-between">
                <div class="booked-card-header-left">
                  <p class="booked-class-card-duration"><%= classbooking.sports_class.duration %></p>
                  <p class="booked-class-card-datetime"><%= classbooking.sports_class.date_time.strftime("%A %b %d %Y %H:%M") %></p>
                </div>
                <div class="booked-card-header-right">
                  <p class="booked-class-card-category"><%= classbooking.sports_class.category %></p>
                </div>
              </div>
              <% if classbooking.sports_class.photo.attached? %>
                <div>
                  <%= cl_image_tag classbooking.sports_class.photo.key, class: "booked-class-card-image" %>
                </div>
              <% end %>
              <div class="booked-card-bottom-section">
                <p class="booked-class-card-title"><%= classbooking.sports_class.title %></p>
                <div class="booked-class-card-levels d-flex row">
                  <div class="booked-class-card-difficulty col-4">
                    <p class="booked-class-card-level-title">DIFFICULTY</p>
                    <p class="booked-class-card-level-content"> <%= classbooking.sports_class.difficulty_level %> </p>
                  </div>
                  <div class="booked-class-card-sweat col-4">
                    <p class="booked-class-card-level-title">SWEAT</p>
                    <p class="booked-class-card-level-content"> <%= classbooking.sports_class.sweat_level %> </p>
                  </div>
                  <div class="booked-class-card-experience col-4">
                    <p class="booked-class-card-level-title">LEVEL</p>
                    <p class="booked-class-card-level-content"> <%= classbooking.sports_class.experience_level %> </p>
                  </div>
                </div>
              </div>
              <div class="booked-class-card-footer-grey mt-4">
                <div class="booked-class-card-trainer">
                  <% if classbooking.sports_class.trainer.user.photo.attached? %>
                    <%= cl_image_tag classbooking.sports_class.trainer.user.photo.key, class: "avatar-bordered" %>
                  <% end %>
                    <div class="booked-class-card-fullname">
                      <p class="booked-class-card-firstname"><%= classbooking.sports_class.trainer.user.first_name %></p>
                      <p class="booked-class-card-lastname"><%= classbooking.sports_class.trainer.user.last_name %></p>
                    </div>
                </div>
                <div class="class-info-book-buttons d-flex justify-content-center">
                   <button class="btn go-to-class-button"><%= link_to "go to class", "#", method: "GET"%></button>
                </div>
              </div>
              <button class="btn profile-cancel-booking"> <%= link_to "cancel booking", class_booking_path(classbooking), method: :delete, data: { confirm: "Are you sure?" }, class: "profile-cancel-button" %> </button>
            </div>
          <% end %>
        </div>
    <% end %>
  <% end %>

  <div class="favourites d-flex justify-content-start mt-4">
    <h2>All your favourite sports</h2>
  </div>

  <h2 class="all-classes-title">All classes</h2>
  <div class="sports-classes-cards pt-3">
    <% @sports_classes.each do |sports_class| %>
      <div class="sports-classes-card pt-3">
        <div class="class-card-header d-flex justify-content-between">
          <div class="card-header-left">
            <p class="class-card-duration"><%= sports_class.duration %></p>
            <p class="class-card-datetime"><%= sports_class.date_time.strftime("%A %b %d %Y %H:%M") %></p>
          </div>
          <div class="card-header-right">
            <p class="class-card-category"><%= sports_class.category %></p>
          </div>
        </div>
        <% if sports_class.photo.attached? %>
          <div>
            <%= cl_image_tag sports_class.photo.key, class: "class-card-image" %>
          </div>
        <% end %>
        <div class="card-bottom-section">
          <p class="class-card-title"><%= sports_class.title %></p>
          <div class="class-card-levels d-flex row">
            <div class="class-card-difficulty col-4">
              <p class="class-card-level-title">DIFFICULTY</p>
              <p class="class-card-level-content"> <%= sports_class.difficulty_level %> </p>
            </div>
            <div class="class-card-sweat col-4">
              <p class="class-card-level-title">SWEAT</p>
              <p class="class-card-level-content"> <%= sports_class.sweat_level %> </p>
            </div>
            <div class="class-card-experience col-4">
              <p class="class-card-level-title">LEVEL</p>
              <p class="class-card-level-content"> <%= sports_class.experience_level %> </p>
            </div>
          </div>
        </div>
        <div class="class-card-footer-grey mt-4">
          <div class="class-card-trainer">
            <% if sports_class.trainer.user.photo.attached? %>
              <%= cl_image_tag sports_class.trainer.user.photo.key, class: "avatar-bordered" %>
            <% end %>
              <div class="class-card-fullname">
                <p class="class-card-firstname"><%= sports_class.trainer.user.first_name %></p>
                <p class="class-card-lastname"><%= sports_class.trainer.user.last_name %></p>
              </div>
          </div>
          <div class="class-info-book-buttons d-flex justify-content-center">
            <button class="btn class-card-book-button"><%= link_to "Book", sports_class_class_bookings_path(sports_class,@classbooking), method: "POST", class: "card-book-class-link" %></button>
            <button type="button" class="btn class-card-info-button class-info-link" data-toggle="modal" data-target="#modal-<%= sports_class.id %>">
              info
            </button>
          </div>
        </div>
        <div class="modal fade" id="modal-<%= sports_class.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable class-modal-dialog">
            <div class="modal-content class-modal-content">
              <div class="class-modal-inner-content row justify-content-between">
                <div class="class-modal-left-column col-5 pt-4 pl-5">
                  <div class="class-modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <strong> <%= sports_class.title %> </strong></h5>
                    <p class="class-modal-date"><%= sports_class.date_time.strftime("%A %b %d %Y %H:%M") %></p>
                    <p class="class-modal-category"><%= sports_class.category %></p>
                  </div>
                  <% if sports_class.photo.attached? %>
                    <div class="class-modal-class-image">
                      <%= cl_image_tag sports_class.photo.key, class: "class-image" %>
                    </div>
                  <% end %>
                  <br>
                  <div class="class-modal-levels d-flex row pr-3 pl-2">
                    <div class="class-modal-difficulty col-4">
                      <p class="class-modal-level-title">DIFFICULTY</p>
                      <p class="class-modal-level-content"> <%= sports_class.difficulty_level %> </p>
                    </div>
                    <div class="class-modal-sweat col-4">
                      <p class="class-modal-level-title">SWEAT</p>
                      <p class="class-modal-level-content"> <%= sports_class.sweat_level %> </p>
                    </div>
                    <div class="class-modal-experience col-4">
                      <p class="class-modal-level-title">LEVEL</p>
                      <p class="class-modal-level-content"> <%= sports_class.experience_level %> </p>
                    </div>
                  </div>
                  <div class="class-modal-equipment">
                    <p class="class-modal-equipment-title">Equipment needed?</p>
                    <% if sports_class.equipment == false %>
                      <p class="class-modal-equipment-content">none</p>
                    <% else %>
                      <p class="class-modal-equipment-content">yes, see class description</p>
                    <% end %>
                  </div>
                </div>
                <div class="class-modal-right-column col-7 pt-4 pr-5">
                  <div class="class-modal-right-header d-flex justify-content-between">
                    <div class="class-modal-trainer-name">
                      <span> with <strong> <%= sports_class.trainer.user.first_name %> <%= sports_class.trainer.user.last_name %> </strong> </span>
                    </div>
                    <% if sports_class.trainer.user.photo.attached? %>
                      <div class="class-modal-avatar">
                        <%= cl_image_tag sports_class.trainer.user.photo.key, class: "class-trainer-photo" %>
                      </div>
                   <% end %>
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="class-modal-description">
                    <p> <strong> Class description </strong></p>
                    <p><%= sports_class.description %></p>
                  </div>
                  <div class="class-modal-bio">
                    <p> <strong> Trainer bio </strong></p>
                    <p><%= sports_class.trainer.bio %></p>
                  </div>
                  <div>
                    <div class="align-center pr-3 py-2">
                      <button type="button" class="btn class-modal-book-button" data-dismiss="modal"> <%= link_to "Book", sports_class_class_bookings_path(sports_class,@classbooking), method: "POST", class: "book-class-link" %></button>
                    </div>
                    <div class="align-center pr-3 py-2">
                      <button type="button" class="btn class-modal-info-button"> <%= link_to "visit trainer profile", trainer_path(sports_class.trainer), class: "visit-trainer-link" %></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
