<div class="container d-flex justify-content-center flex-column">
  <div class="search_bar d-flex justify-content-center">
   <p>This will be the search bar</p>
  </div>

  <% if current_user.class_bookings.length > 0 %>
    <div class="upcoming-classes">
      <h2>All your upcaming classes</h2>
      <ul>
        <% @classbookings.each do |classbooking| %>
        <li><%= classbooking.sports_class.title %></li>
        <li><%= classbooking.sports_class.description %></li>
        <li><%= classbooking.sports_class.date_time %></li>
        <li><%= classbooking.sports_class.duration %></li>
        <li><%= link_to "Cancel Booking", class_booking_path(classbooking), method: :delete, data: { confirm: "Are you sure?" } %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="favourites d-flex justify-content-start">
    <h2>All your favourite sports</h2>
  </div>

  <div class="sports_classes_cards d-flex flex-row p-5">
    <% @sports_classes.each do |sports_class| %>
      <div class="card p-3 m-3 rounded">
        <p><%= sports_class.duration %></p>
        <p><%= sports_class.category %></p>
        <p><%= sports_class.date_time.strftime("%A %b %d %Y %H:%M") %></p>
        <p><%= sports_class.title %></p>
        <p><%= sports_class.trainer.user.first_name %></p>
        <div class="info-book-buttons d-flex justify-content-center">
          <a class="btn btn-dark px-1 m-1" href="#" role="button"><%= link_to "Book", sports_class_class_bookings_path(sports_class,@classbooking), method: "POST" %></a>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-<%= sports_class.id %>">
            info
          </button>
        </div>
        <div class="modal fade" id="modal-<%= sports_class.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable class-modal-dialog">
            <div class="modal-content class-modal-content">
              <div class="class-modal-inner-content row justify-content-between">
                <div class="class-modal-left-column col-5 pt-4 pl-5">
                  <div class="class-modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <strong> <%= sports_class.title %> </strong></h5>
                    <p class="class-modal-date"><%= sports_class.date_time.strftime("%A %b %d %Y %H:%M") %></p>
                    <p class="class-modal-category"><%= sports_class.category %></p>
                  </div>
                  <% if sports_class.photo.attached? %>
                    <div class="class-modal-class-image">
                      <%= cl_image_tag sports_class.photo.key, class: "class-image" %>
                    </div>
                  <% end %>
                  <br>
                  <div class="class-modal-levels d-flex row pr-3 pl-2">
                    <div class="class-modal-difficulty col-4">
                      <p class="class-modal-level-title">DIFFICULTY</p>
                      <p class="class-modal-level-content"> <%= sports_class.difficulty_level %> </p>
                    </div>
                    <div class="class-modal-sweat col-4">
                      <p class="class-modal-level-title">SWEAT</p>
                      <p class="class-modal-level-content"> <%= sports_class.sweat_level %> </p>
                    </div>
                    <div class="class-modal-experience col-4">
                      <p class="class-modal-level-title">EXPERIENCE</p>
                      <p class="class-modal-level-content"> <%= sports_class.experience_level %> </p>
                    </div>
                  </div>
                  <div class="class-modal-equipment">
                    <p class="class-modal-equipment-title">Equipment needed?</p>
                    <% if sports_class.equipment == false %>
                      <p class="class-modal-equipment-content">none</p>
                    <% else %>
                      <p class="class-modal-equipment-content">yes, see class description</p>
                    <% end %>
                  </div>
                </div>
                <div class="class-modal-right-column col-7 pt-4 pr-5">
                  <div class="class-modal-right-header d-flex justify-content-between">
                    <div class="class-modal-trainer-name">
                      <span> with <strong> <%= sports_class.trainer.user.first_name %> <%= sports_class.trainer.user.last_name %> </strong> </span>
                    </div>
                    <div class="class-modal-avatar">
                      <%= cl_image_tag sports_class.trainer.user.photo.key, class: "class-trainer-photo" %>
                    </div>
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="class-modal-description">
                    <p> <strong> Class description </strong></p>
                    <p><%= sports_class.description %></p>
                  </div>
                  <div class="class-modal-bio">
                    <p> <strong> Trainer bio </strong></p>
                    <p><%= sports_class.trainer.bio %></p>
                  </div>
                  <div>
                    <div class="align-center pr-3 py-2">
                      <button type="button" class="btn class-modal-book-button" data-dismiss="modal"> <%= link_to "Book", sports_class_class_bookings_path(sports_class,@classbooking), method: "POST", class: "book-class-link" %></button>
                    </div>
                    <div class="align-center pr-3 py-2">
                      <button type="button" class="btn class-modal-info-button"> <%= link_to "visit trainer profile", trainer_path(sports_class.trainer), class: "visit-trainer-link" %></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!-- t.string "title"
    t.text "description"
    t.datetime "date_time"
    t.string "duration"
    t.string "category"
    t.integer "difficulty_level"
    t.integer "sweat_level"
    t.string "experience_level"
    t.boolean "equipment", default: false
    t.string "language"
    t.bigint "trainer_id", null: false
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.index ["trainer_id"], name: "index_sports_classes_on_trainer_id"
  end -->
