<div class="container d-flex justify-content-center flex-column">
  <div class="search_bar d-flex justify-content-center">
   <p>This will be the search bar</p>
  </div>
  <div class="favourites d-flex justify-content-start">
    <h2>All your favourite sports</h2>
  </div>
    <div class="sports_classes_cards d-flex flex-row p-5 flex-wrap">
      <% @sports_classes.each do |sports_class| %>
        <div class="card p-3 m-3 rounded">
          <p><%= sports_class.duration %></p>
          <p><%= sports_class.category %></p>
          <p><%= sports_class.date_time.strftime("%A %b %d %Y %H:%M") %></p>
          <p><%= sports_class.title %></p>
          <p><%= sports_class.experience_level %></p>
          <p><%= sports_class.trainer.user.first_name %></p>
          <div class="info-book-buttons d-flex justify-content-center">
            <a class="btn btn-warning px-1 m-1" href="#" role="button">Info</a>
            <a class="btn btn-dark px-1 m-1" href="#" role="button">Book</a>
          </div>
        </div>
      <% end %>
    </div>
</div>
