<div class="page container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 ">
      <div class="form-login mb-5">
        <h2>Create a new class</h2>
        <%= simple_form_for [@trainer, @sportsclass] do |f| %>
          <%= f.input :title, input_html: { autocomplete: 'The title of your class' } %>
          <%= f.input :description, input_html: { autocomplete: 'Your class in a few sentences' } %>
          <%= f.input :date_time %>
          <%= f.input :duration, input_html: { autocomplete: 'How long will your class be?' } %>
          <%= f.input :category, input_html: { autocomplete: 'What type of sport category fits best to your class?' } %>
          <%= f.input :experience_level, as: :radio_buttons, collection: ["Beginner", "Good", "Advanced"], wrapper: :vertical_collection_inline %>
          <%= f.input :difficulty_level, as: :radio_buttons, collection: [1, 2, 3], wrapper: :vertical_collection_inline %>
          <%= f.input :sweat_level, as: :radio_buttons, collection: [1, 2, 3], wrapper: :vertical_collection_inline %>
          <%= f.input :equipment, as: :radio_buttons%>
          <%= f.input :language, input_html: { autocomplete: 'In which language will you do your class?' } %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit, class: 'btn class-sign-up-button', notice: "Your class has been saved!" %>
          <%= f.button :button, "Cancel", type: "reset", class: "btn class-sign-up-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
