<div class="new-class-page">
  <div class="row d-flex">
    <div class="col-xs-12 col-lg-6 ">
      <div class="form-create-class">
        <h2>Create a new class</h2>
        <%= simple_form_for [@trainer, @sportsclass], html: { autocomplete: 'off' } do |f| %>
          <%= f.input :title, placeholder: 'The title of your class' %>
          <%= f.input :description, placeholder: 'Your class in a few sentences' %>
          <%= f.input :date_time, as: :string, label: "Date and Time", placeholder: "Date and Time", input_html: {class: "datetimepicker"} %>
          <%= f.input :duration, label: "Duration (in minutes)", placeholder: 'How long will your class be?', input_html: {id: "duration-selector"} %>
          <%= f.input :category, as: :radio_buttons,
                      input_html: {class: "sport-category-selector"},
                      item_wrapper_class: 'sport-category-item',
                      collection: SportsClass::CATEGORIES %>
            <%= f.input :experience_level, as: :radio_buttons,
                         input_html: { class: "experience"},
                          collection_wrapper_tag: 'div',
                          collection_wrapper_class: 'category-wrapper',
                          item_wrapper_class: 'category-item',
                          collection: ["Beginner", "Good", "Experienced"] %>
            <%= f.input :difficulty_level, as: :radio_buttons, input_html: { class: "difficulty"},
                         collection: [1, 2, 3],
                         wrapper: :vertical_collection_inline %>
            <%= f.input :sweat_level, as: :radio_buttons, input_html: { class: "sweat"},
                        collection: [1, 2, 3],
                        wrapper: :vertical_collection_inline %>
          <%= f.input :password, as: :string, labal: "Set a password(optional)", placeholder: "Share this password to allow free access to your class" %>
          <%= f.input :language, collection: SportsClass::LANGUAGES, prompt: :translate %>
          <%= image_tag "", width: 300, class: 'hidden', id: "photo-preview" %>
          <%= f.input :photo, input_html: { class: 'hidden d-none', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>

          <%= f.button :submit, class: 'btn class-sign-up-button sweet-alert', id:"sweet-alert-class" %>
        <% end %>
      </div>
    </div>
    <div class="form-image col-lg-6">
      <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1608741555/OH5C6497_mt2r3x.jpg", class: "form-image" %>
    </div>
  </div>
</div>
