<div class="booked-sports-classes-card pt-3 d-flex">
    <% if classbooking.sports_class.photo.attached? %>
      <div>
        <%= cl_image_tag classbooking.sports_class.photo.key, class: "booked-class-card-image" %>
      </div>
    <% end %>
    <div class="booked-class-card-header">
      <p class="booked-class-card-title"><%= classbooking.sports_class.title %></p>
      <p class="booked-class-card-duration"><%= classbooking.sports_class.duration %></p>
      <p class="booked-class-card-datetime"><%= classbooking.sports_class.date_time.strftime("%A %b %d %Y %H:%M") %></p>
      <p class="booked-class-card-category"><%= classbooking.sports_class.category %> with <%= classbooking.sports_class.trainer.user.first_name %> <%= classbooking.sports_class.trainer.user.last_name %> </p>
    </div>
    <div class="class-info-book-buttons d-flex justify-content-center">
       <button class="btn go-to-class-icon"><%= link_to "#", method: "GET" do %>
          <i class="fas fa-video"></i>
         <% end %>
       </button>
    </div>
    <button class="btn profile-cancel-booking-icon"> <%= link_to class_booking_path(classbooking), method: :delete, data: { confirm: "Are you sure?" }, class: "profile-cancel-button" do %>
      <i class="fas fa-window-close"></i>
      <% end %>
    </button>
</div>
