<div class="class-stat-details">
  <p id="stat-date"> <%= local_time(l(sports_class.date_time), format: :at_numeric) %></p>
  <p> <%= sports_class.title %> </p>
  <p> <%= sports_class.class_bookings.count %> </p>
  <% if sports_class.password.present? %>
    <p><%= sports_class.password %></p>
  <% else %>
    <p>--</p>
  <% end %>
  <% if sports_class.date_time < Time.now %>
    <p id="stat-done"><%= t('.done') %></p>
  <% else %>
    <p id="stat-coming"><%= t('.coming') %></p>
  <% end %>
  <div class="manage-action-buttons">
    <%= link_to duplicate_path(sports_class) do %>
      <i class="fas fa-copy manage-duplicate-button" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="<%= t('.duplicate') %>"></i>
    <% end %>
    <button type="button" id="manage-participants" data-toggle="modal" data-target="#list-<%= sports_class.id %>">
        <i class="fas fa-users" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="<%= t('.participants') %>"></i>
    </button>
    <% if sports_class.date_time > Time.zone.now %>
      <%= link_to edit_sports_class_path(sports_class) do %>
        <i class="fas fa-pen-square" id="manage-edit-button" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="<%= t('.edit') %>"></i>
      <% end %>
      <%= link_to sports_class_path(sports_class), method: :delete, data: {confirm: "Are you sure?"} do %>
        <i class="fas fa-window-close" id="manage-cancel-button" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="<%= t('.cancel') %>"></i>
      <% end %>
      <%= link_to sports_class_path(sports_class), method: "GET" do %>
        <i class="fas fa-video" id="manage-stream-button" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="<%= t('.live_stream_modal') %>"></i>
      <% end %>
    <% end %>

  </div>
  <!-- password modal -->
  <%= render partial: "shared/participant-list", locals: { sports_class: sports_class } %>
</div>
