<div class="footer">
  <div class="container justify-content-between pt-5 mt-5">
    <div class="top-part">
      <div class="logo-socials">
        <h6 class = "about"> About Us</h6>
        <p class = "description">Yance is an online platform bringing together sportsclasses of all types to the luxury of your living room.</p>
        <h6 class = "about pt-16"> Socials</h6>
        <div class = "socials">
          <i class="fab fa-instagram color-icon"></i>
          <i class="fab fa-twitter color-icon"></i>
          <i class="fab fa-facebook color-icon"></i>
        </div>
      </div>

      <div class = "information">
        <h6 class = "about"> Information</h6>
        <ul>
          <li class="list-item"><%=link_to "About Yance", "#", class: "link-color"%></li>
          <li class="list-item"><%=link_to "Subscriptions",memberships_path, class: "link-color"%></li>
          <li class="list-item"><%=link_to "Client Reviews", "#", class: "link-color"%></li>
          <li class="list-item"><%=link_to "Events", "#", class: "link-color"%></li>
        </ul>
      </div>

      <div class="links">
        <h6 class = "about"> Quick Links</h6>
        <ul>
          <li class="list-item"><%=link_to "Services", "#", class: "link-color"%></li>
          <li class="list-item"><%=link_to "Supports", "#", class: "link-color"%></li>
          <li class="list-item"><%=link_to "Terms & Conditions", "#", class: "link-color"%></li>
          <li class="list-item"><%=link_to "Privacy Policy", "#", class: "link-color"%></li>
        </ul>
      </div>
      <div class="newsletter">
       <h6 class="about">Newsletter</h6>
       <p class="description">Subscribe to our newsletter for updates and special offers.</p>
       <div class="subscribe-email">

         <form class="form-inline">

          <div class="form-group mx-sm-3 mb-2">
            <label for="email"></label>
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-style">Submit</button>
        </form>
      </div>
    </div>
    <img src=>
  </div>

</div>

</div>

