<div class="modal fade" id="modal-<%= sports_class.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable class-modal-dialog">
    <div class="modal-content class-modal-content">
      <div class="class-modal-inner-content row justify-content-between">
        <div class="class-modal-left-column col-5 pt-4 pl-5">
          <div class="class-modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> <strong> <%= sports_class.title %> </strong></h5>
            <p class="class-modal-date"><%= local_time(sports_class.date_time, "%A %b %d at %H:%M") %></p>
            <p class="class-modal-category"><%= sports_class.category %></p>
          </div>
          <% if sports_class.photo.attached? %>
            <div class="class-modal-class-image">
              <%= cl_image_tag sports_class.photo.key, class: "class-image" %>
            </div>
          <% end %>
          <br>
          <div class="class-modal-levels d-flex row pr-3 pl-2">
            <div class="class-modal-difficulty col-sm-12 col-lg-4">
              <p class="class-modal-level-title">DIFFICULTY</p>
              <p class="class-modal-level-content">
                <% sports_class.difficulty_level.times do %>
                <i class="fas fa-dumbbell" id="difficulty"></i>
                <% end %>
              </p>
            </div>
            <div class="class-modal-sweat col-sm-12 col-lg-4">
              <p class="class-modal-level-title">SWEAT</p>
              <p class="class-modal-level-content">
                <% sports_class.sweat_level.times do %>
                <i class="fas fa-tint" id="sweat"></i>
                <% end %>
              </p>
            </div>
            <div class="class-modal-experience col-sm-12 col-lg-4">
              <p class="class-modal-level-title">LEVEL</p>
              <p class="class-modal-level-content">
                <%= sports_class.experience_level %>
              </p>
            </div>
          </div>
        </div>
        <div class="class-modal-right-column col-7 pt-4 pr-5">
          <div class="class-modal-right-header d-flex justify-content-between">
            <div class="class-modal-trainer-name">
              <span> with <strong> <%= sports_class.user.first_name %> <%= sports_class.user.last_name %> </strong> </span>
              <p class="ratings-average">
                <% sports_class.trainer.reviews.average("rating::int").to_i.times do %>
                  <i class="fas fa-star color-star"></i>
                <% end %>
                <% (5 - sports_class.trainer.reviews.average("rating::int").to_i).times do %>
                  <i class="far fa-star color-star"></i>
                <% end %>
                (<%= sports_class.trainer.reviews.count %>)
              </p>
            </div>
            <% if sports_class.user.photo.attached? %>
              <div class="class-modal-avatar">
                <%= cl_image_tag sports_class.user.photo.key, class: "class-trainer-photo" %>
              </div>
           <% end %>
            <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="class-modal-description">
            <p> <strong> Class description </strong></p>
            <p><%= sports_class.description %></p>
          </div>
          <div class="class-modal-bio">
            <p> <strong> Trainer bio </strong></p>
            <p><%= sports_class.trainer.bio %></p>
          </div>
          <div>
            <div class="align-center pr-3 py-2">
              <% if user_signed_in? %>
                <% if current_user.subscription.subscription_status == "active" || "trialing" %>
                  <% unless current_user.all_booked_classes.include?(sports_class) %>
                    <%= link_to "BOOK", sports_class_class_bookings_path(sports_class, class_booking: {class_booking: @classbooking}), method: :post, class: "sweet-alert-booked-#{sports_class.id} book-class-link btn class-modal-book-button", id:'book-link sweet-alert-booked' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="align-center pr-3 py-2">
              <%= link_to "VISIT TRAINER", trainer_path(sports_class.trainer), class: "visit-trainer-link btn class-modal-info-button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
