<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo-credits">
    <div class="navbar-brand d-flex justify-content-between">
      <%= link_to root_path do %>
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1609194683/Yance-logo-svg_qq3q16.svg" %>
      <% end %>
      <h1 id="nav-name">yance</h1>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item" id="">
          <%= link_to "Home", sports_classes_path, class: "nav-link" %>
        </li>
        <% if current_user.subscription.nil? %>
          <li class="nav-item" id="">
            <%= link_to "Memberships", memberships_path, class: "nav-link" %>
          </li>
        <% end %>
        <% if current_user.trainers.empty? %>
          <li class="nav-item" id="">
            <%= link_to "Become a trainer", new_trainer_path , class: "nav-link" %>
          </li>
        <% end %>
        <% if current_user.trainers.present? %>
          <li class="nav-item" id="">
            <%= link_to "Your Classes", profile_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "http://squashcity.pl/wp-content/uploads/2020/08/placeholder-avatar-square.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
            <div class="dropdown-menu dropdown-menu-right mt-1" aria-labelledby="navbarDropdown">
              <% if current_user.trainers.present? %>
                <%= link_to "Trainer profile", trainer_path(current_user.trainers.ids), class: "dropdown-item" %>
              <% end %>
              <%= link_to "Your classes", profile_path , class: "dropdown-item" %>
              <%= link_to "Settings", settings_path , class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <% if current_user.admin? %>
                <%= link_to "Admin", admin_root_path, class: "dropdown-item" %>
              <% end %>
            </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
