<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo-credits">
    <div class="navbar-brand d-flex justify-content-between">
      <%= link_to root_path do %>
        <%= image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1606231079/Yance-yelloy-logo_weypsf.png" %>
      <% end %>
      <h1 id="nav-name">yance</h1>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if user_signed_in? %>
            <% if current_user.subscription.present? %>
              <p class="nav-link" id="nav-credits">Remaining credits: <%= current_user.subscription.credits %></p>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item" id="">
          <%= link_to "Memberships", memberships_path, class: "nav-link" %>
        </li>
        <li class="nav-item" id="">
          <%= link_to "Become a trainer", new_trainer_path , class: "nav-link" %>
        </li>
        <% if current_user.trainers.present? %>
          <li class="nav-item" id="">
            <%= link_to "Create a class", new_trainer_sports_class_path(current_user.trainers.ids) , class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "http://squashcity.pl/wp-content/uploads/2020/08/placeholder-avatar-square.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% if current_user.trainers.present? %>
                <%= link_to "Trainer profile", trainer_path(current_user.trainers.ids), class: "dropdown-item" %>
              <% end %>
              <%= link_to "User Profile", profile_path , class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
