<% if user_sports_classes.date_time > (Time.now - 1.hour) %>
  <div class="booked-sports-classes-card d-flex">
      <% if user_sports_classes.photo.attached? %>
        <div>
          <%= cl_image_tag user_sports_classes.photo.key, class: "booked-class-card-image" %>
        </div>
      <% end %>
      <div class="booked-class-card-header">
        <p class="booked-class-card-datetime"><%= user_sports_classes.date_time.in_time_zone(Time.now.zone).strftime("%A %b %d %Y at %H:%M") %></p>
        <p class="booked-class-card-title"><%= user_sports_classes.title %></p>
        <p class="booked-class-card-duration"><%= user_sports_classes.duration %> minutes</p>
        <p class="booked-class-card-category"><strong><%= user_sports_classes.category %></strong></p>
      </div>
      <div class="created-class-info-buttons" id="created-class-profile">
        <button class="btn go-to-class-icon"><%= link_to sports_class_path(user_sports_classes), method: "GET" do %>
            <i class="fas fa-video created-class-join-video" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Join the live stream"></i>
          <% end %>
        </button>
      </div>
  </div>
<% end %>
