<% @user_sports_classes.each do |sports_class| %>
  <div class="booked-sports-classes-card d-flex">
      <% if sports_class.photo.attached? %>
        <div>
          <%= cl_image_tag sports_class.photo.key, class: "booked-class-card-image" %>
        </div>
      <% end %>
      <div class="booked-class-card-header">
        <p class="booked-class-card-datetime"><%= sports_class.date_time.strftime("%A %b %d %Y %H:%M") %></p>
        <p class="booked-class-card-title"><%= sports_class.title %></p>
        <p class="booked-class-card-duration"><%= sports_class.duration %></p>
        <p class="booked-class-card-category"><strong><%= sports_class.category %></strong></p>
      </div>
      <div class="booked-class-info-buttons">
        <button class="btn go-to-class-icon"><%= link_to sports_class_path(sports_class), method: "GET" do %>
            <i class="fas fa-video"></i>
          <% end %>
        </button>
        <button class="btn profile-cancel-booking-icon"> <%= link_to sports_class_path(sports_class), method: :delete, class: "profile-cancel-button", id:"sweet-alert-delete" do %>
            <i class="fas fa-window-close"></i>
            <p id="cancel-class">cancel</p>
          <% end %>
        </button>
      </div>
  </div>
<% end %>
