<% if user_booking.sports_class.date_time > (Time.now - 1.hour) %>
  <div class="booked-sports-classes-card d-flex">
    <% if user_booking.sports_class.photo.attached? %>
      <div>
        <%= cl_image_tag user_booking.sports_class.photo.key, class: "booked-class-card-image" %>
      </div>
    <% end %>
    <div class="booked-class-card-header">
      <p class="booked-class-card-datetime"><%= user_booking.sports_class.date_time.in_time_zone(Time.now.zone).strftime("%A %b %d %Y at %H:%M") %></p>
      <p class="booked-class-card-title"><%= user_booking.sports_class.title %></p>
      <p class="booked-class-card-duration"><%= t('.duration', duration: user_booking.sports_class.duration) %></p>
      <p class="booked-class-card-category"><%= t('.category_trainer_html', category: user_booking.sports_class.category, trainer_firstname: user_booking.sports_class.trainer.user.first_name, trainer_lastname: user_booking.sports_class.trainer.user.last_name) %></p>
    </div>
    <div class="booked-class-info-buttons">
      <button class="btn go-to-class-icon"><%= link_to sports_class_path(user_booking.sports_class), method: "GET" do %>
          <i class="fas fa-video" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="<%= t('.live_stream_modal') %>"></i>
        <% end %>
      </button>
      <button class="btn profile-cancel-booking-icon"> <%= link_to class_booking_path(user_booking), method: :delete, data: {confirm: "Are you sure?"}, class: "profile-cancel-button", id:"sweet-alert-delete" do %>
          <i class="fas fa-window-close"></i>
          <p id="cancel-class"><%= t('.cancel') %></p>
        <% end %>
      </button>
    </div>
  </div>
<% end %>

