<div class="sports-classes-card pt-3">
  <div class="class-card-header d-flex justify-content-between">
    <div class="card-header-left">
      <p class="class-card-duration"><%= sports_class.duration %></p>
    </div>
    <div class="card-header-right">
      <p class="class-card-category"><%= sports_class.category %></p>
    </div>
  </div>
  <p class="class-card-datetime"><%= sports_class.date_time.strftime("%A %b %d %Y %H:%M") %></p>
  <% if sports_class.photo.attached? %>
    <div>
      <%= cl_image_tag sports_class.photo.key, class: "class-card-image" %>
    </div>
  <% end %>
  <div class="card-bottom-section">
    <p class="class-card-title"><%= sports_class.title %></p>
    <div class="class-card-levels row">
      <div class="class-card-difficulty col-4">
        <p class="class-card-level-title">DIFFICULTY</p>
        <p class="class-card-level-content">
          <% sports_class.difficulty_level.times do %>
          <i class="fas fa-dumbbell" id="difficulty"></i>
          <% end %>
        </p>
      </div>
      <div class="class-card-sweat col-4">
        <p class="class-card-level-title">SWEAT</p>
        <p class="class-card-level-content">
          <% sports_class.sweat_level.times do %>
          <i class="fas fa-tint" id="sweat"></i>
          <% end %>
        </p>
      </div>
      <div class="class-card-experience col-4">
        <p class="class-card-level-title">LEVEL</p>
        <p class="class-card-level-content"> <%= sports_class.experience_level %> </p>
      </div>
    </div>
  </div>
  <div class="class-card-footer-grey mt-4">
    <div class="class-card-trainer">
      <% if sports_class.trainer.user.photo.attached? %>
        <%= cl_image_tag sports_class.trainer.user.photo.key, class: "avatar-bordered" %>
      <% end %>
        <div class="class-card-fullname">
          <p class="class-card-firstname"><%= sports_class.trainer.user.first_name %></p>
          <p class="class-card-lastname"><%= sports_class.trainer.user.last_name %></p>
        </div>
    </div>
    <div class="class-info-book-buttons d-flex justify-content-center">
      <%= link_to "BOOK", sports_class_class_bookings_path(sports_class,@classbooking), method: "POST", class: "card-book-class-link btn class-card-book-button" %>
      <button type="button" class="btn class-card-info-button class-info-link" data-toggle="modal" data-target="#modal-<%= sports_class.id %>">
        INFO
      </button>
    </div>
  </div>
<!-- class modal -->
  <%= render partial: "shared/modal-class", locals: { sports_class: sports_class } %>
</div>
