<div class="sports-classes-card">
  <div class="class-card-header d-flex justify-content-between">
    <div class="time-label">
      <p class="class-card-month"><%= local_time(sports_class.date_time, "%A") %></p>
      <p class="class-card-day"><%= local_time(sports_class.date_time, "%b %d") %></p>
      <p class="class-card-time"><%= local_time(sports_class.date_time, "%H:%M") %></p>
    </div>
    <div class="card-header-right">
      <p class="class-card-category"><%= sports_class.category %></p>
      <p class="class-card-language"><%= sports_class.language %></p>
      <p class="class-card-duration"><i class="far fa-clock pr-1"></i>   <%= sports_class.duration %> minutes</p>
    </div>
  </div>
  <% if sports_class.photo.attached? %>
    <div>
      <!-- time label -->
      <%= cl_image_tag sports_class.photo.key, class: "class-card-image" %>
    </div>
  <% end %>
  <div class="card-bottom-section">
    <p class="class-card-title"><%= sports_class.title %></p>
    <div class="class-card-levels row">
      <div class="class-card-difficulty col-4">
        <p class="class-card-level-title">DIFFICULTY</p>
        <p class="class-card-level-content">
          <% sports_class.difficulty_level.times do %>
          <i class="fas fa-dumbbell" id="difficulty"></i>
          <% end %>
        </p>
      </div>
      <div class="class-card-sweat col-4">
        <p class="class-card-level-title">SWEAT</p>
        <p class="class-card-level-content">
          <% sports_class.sweat_level.times do %>
          <i class="fas fa-tint" id="sweat"></i>
          <% end %>
        </p>
      </div>
      <div class="class-card-experience col-4">
        <p class="class-card-level-title">LEVEL</p>
        <p class="class-card-level-content"> <%= sports_class.experience_level %> </p>
      </div>
    </div>
  </div>
  <div class="class-card-footer-grey mt-4">
    <div class="class-card-trainer">
      <% if sports_class.user.photo.attached? %>
        <%= link_to trainer_path(sports_class.trainer.id) do %>
          <%= cl_image_tag sports_class.user.photo.key, class: "avatar-bordered" %>
        <% end %>
      <% end %>
        <div class="class-card-fullname">
          <%= link_to trainer_path(sports_class.trainer.id) do %>
            <p class="class-card-firstname"><%= sports_class.user.first_name %></p>
            <p class="class-card-lastname"><%= sports_class.user.last_name %></p>
          <% end %>
        </div>
    </div>
    <div class="class-info-book-buttons d-flex justify-content-center">
      <% if user_signed_in? %>
        <% if current_user.subscription.present? %>
          <% if current_user.subscription.credits > 0 %>
            <% unless current_user.all_booked_classes.include?(sports_class) %>
              <%= link_to "BOOK", sports_class_class_bookings_path(sports_class, class_booking: {class_booking: @classbooking}), method: :post, class: "sweet-alert-booked-#{sports_class.id} card-book-class-link btn class-card-book-button", id:'book-link sweet-alert-booked' %>
            <% end %>
          <% else %>
            <% flash.now[:notice] = params[:flash_notice] if params[:flash_notice] %>
            <%= link_to "BOOK", sports_classes_path(:flash_notice => "You have no more credits. Please upgrade plan"), class: "card-book-class-link btn class-card-book-button" %>
          <% end %>
        <% else %>
          <% if sports_class.password.present? %>
            <button type="button" class="card-book-class-link btn class-card-book-button" data-toggle="modal" data-target="#password-modal-<%= sports_class.id %>">
              BOOK
            </button>
          <% else %>
            <%= link_to "BOOK", memberships_path, class: "card-book-class-link btn class-card-book-button" %>
          <% end %>
        <% end %>
        <% else %>
          <%= link_to "BOOK", new_user_session_path, class: "card-book-class-link btn class-card-book-button" %>
      <% end %>

      <button type="button" class="btn class-card-info-button class-info-link" data-toggle="modal" data-target="#modal-<%= sports_class.id %>">
        INFO
      </button>
    </div>
  </div>
<!-- password modal -->
  <%= render partial: "shared/password-popup", locals: { sports_class: sports_class } %>
<!-- class modal -->
  <%= render partial: "shared/modal-class", locals: { sports_class: sports_class } %>
</div>
