<div class="sports-classes-card">
  <div class="class-card-header d-flex justify-content-between">
    <div class="time-label">
      <p class="class-card-month"><%= local_time(l(sportsclass.date_time), format: :day) %></p>
      <p class="class-card-day"><%= local_time(l(sportsclass.date_time), format: :month_day) %></p>
      <p class="class-card-time"><%= local_time(l(sportsclass.date_time), format: :time) %></p>
    </div>
    <div class="card-header-right">
      <p class="class-card-category"><%= sportsclass.category %></p>
      <p class="class-card-language"><%= sportsclass.language %></p>
      <p class="class-card-duration"><i class="far fa-clock pr-1"></i><%= t('.duration', duration: sportsclass.duration) %></p>
    </div>
  </div>
  <% if sportsclass.photo.attached? %>
    <div>
      <%= cl_image_tag sportsclass.photo.key, class: "class-card-image" %>
    </div>
  <% end %>
  <div class="card-bottom-section">
    <p class="class-card-title"><%= sportsclass.title %></p>
    <div class="class-card-levels row">
      <div class="class-card-difficulty col-4">
        <p class="class-card-level-title"><%= t('.levels.difficulty') %></p>
        <p class="class-card-level-content">
          <% sportsclass.difficulty_level.times do %>
          <i class="fas fa-dumbbell" id="difficulty"></i>
          <% end %>
        </p>
      </div>
      <div class="class-card-sweat col-4">
        <p class="class-card-level-title"><%= t('.levels.sweat') %></p>
        <p class="class-card-level-content">
          <% sportsclass.sweat_level.times do %>
          <i class="fas fa-tint" id="sweat"></i>
          <% end %>
        </p>
      </div>
      <div class="class-card-experience col-4">
        <p class="class-card-level-title"><%= t('.levels.experience') %></p>
        <p class="class-card-level-content"> <%= sportsclass.experience_level %> </p>
      </div>
    </div>
  </div>
  <div>
    <div class="class-info-book-buttons d-flex justify-content-center">
      <% if user_signed_in? %>
        <% if current_user.subscription.present? %>
          <% if current_user.subscription.subscription_status == "active" || "trialing" %>
              <% unless current_user.all_booked_classes.include?(sportsclass) %>
                <%= link_to t('.book'), sports_class_class_bookings_path(sportsclass, class_booking: {class_booking: @classbooking}), method: :post, class: "card-book-class-link btn class-card-book-button" %>
              <% end %>
          <% else current_user.subscription.subscription_status == "incomplete" %>
            <%= link_to t('.complete-info'), customer_portal_sessions_path, method: :post, class: "card-book-class-link btn class-card-book-button" %>
          <% end %>
        <% else %>
          <% if sportsclass.password.present? %>
            <button type="button" class="card-book-class-link btn class-card-book-button" data-toggle="modal" data-target="#password-modal-<%= sportsclass.id %>">
               <%= t('.password') %>
            </button>
          <% else %>
            <%= link_to t('.trial'), memberships_path, class: "card-book-class-link btn class-card-book-button" %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to t('.log-in'), new_user_session_path, class: "card-book-class-link btn class-card-book-button" %>
      <% end %>
      <button type="button" class="btn class-card-info-button class-info-link" data-toggle="modal" data-target="#modal-<%= sportsclass.id %>">
        <i class="fas fa-info"></i>
      </button>
    </div>
  </div>
</div>
<!-- password modal -->
<%= render partial: "shared/password-popup-trainer", locals: { sportsclass: sportsclass } %>
<!-- class modal -->
<%= render partial: "shared/trainer-modal-class", locals: { sportsclass: sportsclass } %>
