<div class="modal fade" id="modal-<%= sportsclass.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable class-modal-dialog">
    <div class="modal-content class-modal-content">
      <div class="class-modal-inner-content row justify-content-between">
        <div class="class-modal-left-column col-5 pt-4 pl-5">
          <div class="class-modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> <strong> <%= sportsclass.title %> </strong></h5>
            <p class="class-modal-date"><%= sportsclass.date_time.in_time_zone(Time.now.zone).strftime("%A %b %d %Y at %H:%M") %></p>
            <p class="class-modal-category"><%= sportsclass.category %></p>
          </div>
          <% if sportsclass.photo.attached? %>
            <div class="class-modal-class-image">
              <%= cl_image_tag sportsclass.photo.key, class: "class-image" %>
            </div>
          <% end %>
          <br>
          <div class="class-modal-levels d-flex row pr-3 pl-2">
            <div class="class-modal-difficulty col-sm-12 col-lg-4">
              <p class="class-modal-level-title">DIFFICULTY</p>
              <p class="class-modal-level-content">
                <% sportsclass.difficulty_level.times do %>
                <i class="fas fa-dumbbell" id="difficulty"></i>
                <% end %>
              </p>
            </div>
            <div class="class-modal-sweat col-sm-12 col-lg-4">
              <p class="class-modal-level-title">SWEAT</p>
              <p class="class-modal-level-content">
                <% sportsclass.sweat_level.times do %>
                <i class="fas fa-tint" id="sweat"></i>
                <% end %>
              </p>
            </div>
            <div class="class-modal-experience col-sm-12 col-lg-4">
              <p class="class-modal-level-title">LEVEL</p>
              <p class="class-modal-level-content"> <%= sportsclass.experience_level %> </p>
            </div>
          </div>
          <!-- <div class="class-modal-equipment">
            <p class="class-modal-equipment-title">Equipment needed?</p>
            <% if sportsclass.equipment == false %>
              <p class="class-modal-equipment-content">none</p>
            <% else %>
              <p class="class-modal-equipment-content">yes, see class description</p>
            <% end %>
          </div> -->
        </div>
        <div class="class-modal-right-column col-7 pt-4 pr-5">
          <div class="class-modal-right-header d-flex justify-content-between">
            <div class="class-modal-trainer-name">
              <span> with <strong> <%= sportsclass.trainer.user.first_name %> <%= sportsclass.trainer.user.last_name %> </strong> </span>
              <p class="ratings-average">
                <% sportsclass.trainer.reviews.average("rating::int").to_i.times do %>
                  <i class="fas fa-star color-star"></i>
                <% end %>
                <% (5 - sportsclass.trainer.reviews.average("rating::int").to_i).times do %>
                  <i class="far fa-star color-star"></i>
                <% end %>
                (<%= sportsclass.trainer.reviews.count %>)
              </p>
            </div>
            <% if sportsclass.trainer.user.photo.attached? %>
              <div class="class-modal-avatar">
                <%= cl_image_tag sportsclass.trainer.user.photo.key, class: "class-trainer-photo" %>
              </div>
            <% end %>
            <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="class-modal-description">
            <p> <strong> Class description </strong></p>
            <p><%= sportsclass.description %></p>
          </div>
          <div class="class-modal-bio">
            <p> <strong> Trainer bio </strong></p>
            <p><%= sportsclass.trainer.bio %></p>
          </div>
          <div>
            <div class="align-center pt-5 pr-3">
              <% if current_user.subscription.present? %>
                <% if current_user.subscription.credits > 0 %>
                  <% unless current_user.all_booked_classes.include?(sportsclass) %>
                    <%= link_to "BOOK", sports_class_class_bookings_path(sportsclass, class_booking: {class_booking: @classbooking}), method: :post, class: "sweet-alert-booked-#{sportsclass.id} book-class-link btn class-modal-book-button", id:'book-link sweet-alert-booked' %>
                  <% end %>
                <% else %>
                  <% flash.now[:notice] = params[:flash_notice] if params[:flash_notice] %>
                  <%= link_to "BOOK", sports_classes_path(:flash_notice => "You have no more credits. Please upgrade plan"), class: "book-class-link btn class-modal-book-button" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
