<div class="home-page banner-section">
  <div class="banner-content row">
    <div class="navigation col-sm-12 col-md-5 col-lg-5">
      <h2 id="home-title">Join sports classes live from home</h2>
      <p>With one membership, access a platform of live classes for any kind of sport, provided by independent trainers and studios</p>
  <!-- searchbar -->
      <div class="">
        <div class="row justify-content-center">
          <div class="col-sm-12 my-3 px-0">
            <%= form_tag sports_classes_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control searchbar",
                placeholder: "All sports"
              %>
               <%= text_field_tag :starts_at,
               params[:starts_at],
              class: "datepicker",
                placeholder: "Date"
                %>
              <div class="button">
                <%= button_tag(type: "submit", class: "btn search-button") do %>
                  <i class="fas fa-search search-icon"></i>
              <% end %>

              </div>
            <% end %>
          </div>
        </div>
      </div>
      <p id="browse-text">Not sure what to look for?</p>
      <%= link_to "Explore", sports_classes_path, class: "check-it-out draw meet", id: "check-it-out-right" %>
    </div>
    <div class="banner-image col-sm-12 col-md-6 col-lg-6">
      <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1608746318/OH5C5867_bk7vj7.jpg", class: "banner-image" %>
    </div>
  </div>
</div>
<!-- Sport Categories section -->
<div class="container sport-category-section">
  <h2>Add any type of sport to your lifestyle</h2>
  <p>Being active from home is a part of our lifestyle. Whether you're new to home sports or it's already in your routine, we want to give you an awesome, interactive experience with many opportunities to find the sport you love.</p>
  <div class="sport-category-grid">
    <div class="sport-category-block">
      <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1609253928/carla-photo_lwjnvi.jpg", class: "sport-category-image" %>
      <p>
        <%= link_to "yoga", sports_classes_path(query:[:yoga]), class: "explore-category" %>
      </p>
    </div>
    <div class="sport-category-block">
      <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1609254710/OH5C5934_copy_fgflxr.jpg", class: "sport-category-image" %>
      <%= link_to "abs", sports_classes_path(query:[:abs]), class: "explore-category" %>
    </div>
    <div class="sport-category-block">
      <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1609254049/OH5C6445_botcll.jpg", class: "sport-category-image" %>
      <%= link_to "cardio", sports_classes_path(query:[:cardio]), class: "explore-category" %>
    </div>
    <div class="sport-category-block">
      <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1609254082/IMG_6126_edubet.jpg", class: "sport-category-image" %>
      <%= link_to "stretching", sports_classes_path(query:[:stretching]), class: "explore-category" %>
    </div>
  </div>
</div>
<!-- info-images section -->
<div class="container">
  <div class="row py-5 classes-focus-section">
    <div class="punchliner-left col-sm-12 col-md-12 col-lg-4 py-3">
      <h2 class="pb-3">A diverse set of high quality classes</h2>
      <p>Yoga, strength, abs classes, pilates, jumping, full body workouts, you name it, we have it on yance!</p>
      <p>All classes are provided by independent trainers and studios</p>
      <%= link_to "Check it out!", sports_classes_path, class: "check-it-out draw meet" %>
    </div>
    <div class="home-info-section col-sm-7 col-md-6 col-lg-8">
      <%= link_to sports_classes_path do %>
       <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1608746503/OH5C5826_h1dkmm.jpg", class: "home-info-section" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container pt-5">
  <div class="row pb-5 classes-focus-section">
    <div class="home-info-section col-sm-7 col-md-6 col-lg-8">
      <%= link_to sports_classes_path do %>
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1608746160/OH5C6033_letm5o.jpg", class: "home-info-section" %>
      <% end %>
    </div>
    <div class="punchliner-right col-sm-12 col-md-12 col-lg-4 py-3">
      <h2 class="pb-3">All classes live</h2>
      <p>All classes are provided live on the yance website</p>
      <p>Forget the cold recorded videos and switch to fun, interactive live classes now!</p>
      <%= link_to "Check it out!", sports_classes_path, class: "check-it-out draw meet", id: "check-it-out-right" %>
    </div>
  </div>
</div>
<!--You're a trainer section -->
<div class="container">
  <div class="row py-5 classes-focus-section">
    <div class="punchliner-left col-sm-12 col-md-12 col-lg-4 py-3">
      <h2 class="pb-3">You're a trainer?</h2>
      <p>Yance is open for trainers! Sign up, click on become a trainer, create a profile and start scheduling your classes. It's as easy as that!</p>
      <p>Join our community of trainers who offer classes on our platform daily!</p>
      <%= link_to "Become a trainer now!", new_trainer_path, class: "check-it-out draw meet" %>
    </div>
    <div class="home-info-section col-sm-7 col-md-6 col-lg-8">
      <%= link_to new_trainer_path do %>
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1608823717/OH5C6490_copy_j0afya.jpg", class: "home-info-section" %>
      <% end %>
    </div>
  </div>
</div>
<!-- How it works section -->
<div class="container how-it-works-section">
  <h2 class="text-center">How it works</h2>
  <div class="row">
    <div class="col-sm-12 col-lg-4 text-center">
      <div>
        <img src="https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606485037/Screenshot_2020-11-27_at_14.43.26_tohryh.png" class="how-to-image">
      </div>
      <h2>Find your class</h2>
      <p>Search our growing variety of classes scheduled on the platform</p>
    </div>
    <div class="col-sm-12 col-lg-4 text-center">
      <div>
        <img src="https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606484960/Screenshot_2020-11-27_at_14.44.35_r7bvml.png" class="how-to-image">
      </div>
      <h2>Book your class</h2>
      <p>Book the classes you’d like to join. These classes will be added to your profile</p>
    </div>
    <div class="col-sm-12 col-lg-4 text-center">
      <div>
        <img src="https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606484729/Screenshot_2020-11-27_at_14.45.14_vvlule.png" class="how-to-image">
      </div>
      <h2>Join your class</h2>
      <p>Show up at the time of your class and click on “go to class” to workout!</p>
    </div>
  </div>
</div>

