<div class="page">
  <div class="home-page-logo">
    <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606476018/yance_logo_white_tnjohw.png" %>
  </div>
  <h2 id="home-title">For when would you like to book your next live class?</h2>
<!-- searchbar -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 mt-3">
        <%= form_tag sports_classes_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control searchbar",
            placeholder: "All sports"
          %>
           <%= text_field_tag :starts_at,
           params[:starts_at],
          class: "datepicker",
            placeholder: "Date"
            %>
          <div class="button">
            <%= button_tag(type: "submit", class: "btn search-button") do %>
              <i class="fas fa-search search-icon"></i>
          <% end %>

          </div>
        <% end %>
      </div>
    </div>
  </div>


</div>


