<div class="home-page banner-section">
  <div class="banner-content row">
    <div class="navigation col-sm-12 col-md-6 col-lg-6">
      <h1 id="home-title" class="pt-1"><%= t('.header.header_html') %></h1>
      <p id="hero-text" class="pt-3"><%= t('.header.punchline') %></p>
      <p id="home-price"><%= t('.header.join_now_html') %></p>
      <div class="d-flex justify-content-left">
        <%= link_to t('.header.button'), new_user_registration_path, class: "sign-up-button" %>
      </div>
    </div>
    <div class="banner-image col-sm-12 col-md-6 col-lg-6">
      <video src="https://res.cloudinary.com/dorianwilsondebriano/video/upload/v1611163751/yance-hero-video_cd0f0t.mp4" type="video/mov" autoplay muted loop class="banner-image">
        <source src="https://res.cloudinary.com/dorianwilsondebriano/video/upload/v1611163751/yance-hero-video_cd0f0t.mp4" type="video/mov" class="banner-image">
      </video>
    </div>
  </div>
</div>
<!-- How it works section -->
<div class="how-it-works-section">
  <h2 class="text-center"><%= t('.how_it_works.title') %></h2>
  <div class="row">
    <div class="col-sm-12 col-lg-4 text-center">
      <div>
        <img src="https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606485037/Screenshot_2020-11-27_at_14.43.26_tohryh.png" class="how-to-image">
      </div>
      <h2><%= t('.how_it_works.first') %></h2>
      <p><%= t('.how_it_works.first_explanation') %></p>
    </div>
    <div class="col-sm-12 col-lg-4 text-center">
      <div>
        <img src="https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606484960/Screenshot_2020-11-27_at_14.44.35_r7bvml.png" class="how-to-image">
      </div>
      <h2><%= t('.how_it_works.second') %></h2>
      <p><%= t('.how_it_works.second_explanation') %></p>
    </div>
    <div class="col-sm-12 col-lg-4 text-center">
      <div>
        <img src="https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606484729/Screenshot_2020-11-27_at_14.45.14_vvlule.png" class="how-to-image">
      </div>
      <h2><%= t('.how_it_works.third') %></h2>
      <p><%= t('.how_it_works.third_explanation') %></p>
    </div>
  </div>
</div>
<!-- all classes live -->
<div class="description-section" id="clay-background-section">
  <div class="row pb-5 classes-focus-section">
    <div class="home-info-section col-sm-12 col-md-12 col-lg-7">
      <%= link_to sports_classes_path do %>
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611747658/OH5C6033-min_uot5uq.jpg", class: "home-info-section" %>
      <% end %>
    </div>
    <div class="punchliner-right col-sm-12 col-md-12 col-lg-5 py-3">
      <h2 class="mt-5"><%= t('.live_section.title') %></h2>
      <p><%= t('.live_section.description') %></p>
      <div class="d-flex pt-3 justify-content-center">
        <%= link_to t('.live_section.sign_up'), new_user_registration_path, class: "sign-up-button", id: "section-white-button"%>
        <%= link_to t('.live_section.visit'), sports_classes_path, class: "visit-platform-button", id: "section-visit-button" %>
      </div>
    </div>
  </div>
</div>
<!-- interactive section -->
<div class="description-section" id="grey-background-section">
  <div class="row py-5 classes-focus-section">
    <div class="punchliner-left col-sm-12 col-md-12 col-lg-5 py-3">
      <h2 class="mt-5"><%= t('.interactive_section.title') %></h2>
      <p><%= t('.interactive_section.description') %></p>
      <div class="d-flex justify-content-center pt-3">
        <%= link_to t('.interactive_section.sign_up'), new_user_registration_path, class: "sign-up-button", id: "section-button"%>
        <%= link_to t('.interactive_section.visit'), sports_classes_path, class: "visit-platform-button", id: "section-grey-button" %>
      </div>
    </div>
    <div class="home-info-section col-sm-12 col-md-12 col-lg-7">
      <%= link_to sports_classes_path do %>
       <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611748286/OH5C5826-min_k02q3a.jpg", class: "home-info-section" %>
      <% end %>
    </div>
  </div>
</div>
<!-- Sport Categories section -->
<div class="container sport-category-section">
  <div class="row py-5 classes-focus-section">
    <div class="col-sm-12 col-md-12 col-lg-12 py-3 text-center">
      <h2><%= t('.categories_section.title') %></h2>
      <p><%= t('.categories_section.description') %></p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 py-3 pl-5">
      <div class="sport-category-grid">
        <div class="sport-category-block">
          <%= link_to sports_classes_path(query:[:yoga]) do %>
            <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1609253928/carla-photo_lwjnvi.jpg", class: "sport-category-image" %>
          <% end %>
          <%= link_to sports_classes_path(query:[:yoga]), class: "explore-category" do %>
            <p><%= t('.categories_section.first') %>  <i class="fas fa-angle-right"></i></p>
          <% end %>
        </div>
        <div class="sport-category-block">
          <%= link_to sports_classes_path(query:[:abs]) do %>
            <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611747683/OH5C5934_copy-min_a2rz6l.jpg", class: "sport-category-image" %>
          <% end %>
          <%= link_to sports_classes_path(query:[:abs]), class: "explore-category" do %>
            <p><%= t('.categories_section.second') %>  <i class="fas fa-angle-right"></i></p>
          <% end %>
        </div>
        <div class="sport-category-block">
          <%= link_to sports_classes_path(query:[:cardio]) do %>
            <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611747694/OH5C6445-min_dawhgy.jpg", class: "sport-category-image" %>
          <% end %>
          <%= link_to sports_classes_path(query:[:cardio]), class: "explore-category" do %>
            <p><%= t('.categories_section.third') %>  <i class="fas fa-angle-right"></i></p>
          <% end %>
        </div>
        <div class="sport-category-block">
          <%= link_to sports_classes_path(query:[:stretching]) do %>
            <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1609254082/IMG_6126_edubet.jpg", class: "sport-category-image" %>
          <% end %>
          <%= link_to sports_classes_path(query:[:stretching]), class: "explore-category" do %>
            <p><%= t('.categories_section.fourth') %>  <i class="fas fa-angle-right"></i></p>
          <% end %>
        </div>
      </div>
      <div class="d-flex pt-3 justify-content-center">
        <%= link_to t('.categories_section.sign_up'), new_user_registration_path, class: "sign-up-button", id: "section-button"%>
        <%= link_to t('.categories_section.visit'), sports_classes_path, class: "visit-platform-button", id: "section-visit-button" %>
      </div>
    </div>
  </div>
</div>
<!--You're a trainer section -->
<div class="description-section" id="peach-background-section">
  <div class="row py-5 classes-focus-section">
    <div class="home-info-section col-sm-12 col-md-12 col-lg-7">
      <%= link_to new_trainer_path do %>
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611747854/OH5C6490_copy-min_ldbqno.jpg", class: "home-info-section" %>
      <% end %>
    </div>
    <div class="punchliner-right col-sm-12 col-md-12 col-lg-5 py-3" id="peach-background">
      <h2 class="pt-2 mt-5"><%= t('.trainer_section.title') %></h2>
      <p><%= t('.trainer_section.description') %></p>
      <div class="d-flex pt-3 justify-content-center">
        <%= link_to t('.trainer_section.give_classes'), become_a_trainer_path, class: "sign-up-button", id: "section-white-button" %>
      </div>
    </div>
  </div>
</div>
