<div class="container">
  <%= simple_form_for @sportsclass do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :date_time %>
    <%= f.input :duration %>
    <%= f.input :category %>
    <%= f.input :experience_level, collection: []%>
    <%= f.input :difficulty_level %>
    <%= f.input :sweat_level %>
    <%= f.input :equipment_level %>
    <%= f.input :language %>
    <%= f.button :submit, class: 'btn new-hero-submit-button', notice: "You are now a Hero!" %>
  <% end %>
</div>
