<div class="pricing-banner row">
  <div class="pricing-banner-content col-sm-12 col-lg-6">
    <h1 class="mt-4"><%= t('.punchline_html') %></h1>
    <p class="mt-5"><%= t('.how_to') %></p>
    <div class="d-flex">
      <div><strong>1.</strong></div> <p class="ml-3"><%= t('.first') %></p>
    </div>
    <div class="d-flex">
      <div><strong>2.</strong></div> <p class="ml-3"><%= t('.second') %></p>
    </div>
    <div class="d-flex mb-5">
      <div><strong>3.</strong></div> <p class="ml-3"><%= t('.third') %></p>
    </div>
    <%= link_to t('.sign_up'), new_user_registration_path, class: "btn-white visit-platform-button ml-0" %>
  </div>
  <div class="screenshot-section col-sm-12 col-lg-6">
    <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1612217133/Screenshot_2021-02-01_at_23.02.30_xgd6ok.png", class: "screenshot-right" %>
  </div>
</div>
