<div class="page container mb-5">
  <div class="profile-header d-flex align-center">
    <div class="profile-avatar">
      <% if current_user.photo.present? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-settings" %>
      <% else %>
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606236817/placeholder-avatar-square_nduu1o.jpg", class: "avatar-settings" %>
      <% end %>
    </div>
    <div class="user-name">
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
      <p> <%= link_to t('.edit_info'), edit_user_registration_path, class: "edit-profile" %> </p>
    </div>
  </div>
<!-- user info section -->
 <div class="section-title">
    <h2><%= t('.title') %></h2>
  </div>
  <div class="user-info d-flex">
    <div class="my-account">
      <p><%= t('.account.title') %></p>
      <li><%= t('.account.login_html', email: current_user.email) %></li>
      <li> <%= t('.account.password_html') %></li>
      <% if current_user.subscription.present? %>
        <li><%= t('.account.status_html', status: current_user.subscription.subscription_status) %></li><br>
        <li><%= t('.account.subscription_html', subscription: current_user.membership.title) %></li>
        <br>
        <form action="/customer_portal_sessions" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" value="Manage billing" class="btn black-return-button class-info-link">
        </form>
      <% else %>
        <br>
        <%= link_to t('.account.subscribe_button'), memberships_path, class: "btn black-return-button class-info-link" %>
      <% end %>
    </div>
    <div class="about-me">
      <p><%= t('.about.title') %></p>
      <li><%= t('.about.language_html', language: current_user.language) %> </li>
      <li><%= t('.about.bio_html', bio: current_user.bio) %> </li>
    </div>
  </div>
</div>
