<div class="page container mb-5">
  <div class="profile-header d-flex align-center">
    <div class="profile-avatar">
      <% if current_user.photo.present? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-settings" %>
      <% else %>
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606236817/placeholder-avatar-square_nduu1o.jpg", class: "avatar-settings" %>
      <% end %>
    </div>
    <div class="user-name">
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
      <p> <%= link_to "edit your information", edit_user_registration_path, class: "edit-profile" %> </p>
    </div>
  </div>
<!-- user info section -->
 <div class="section-title">
    <h2>Your information</h2>
  </div>
  <div class="user-info d-flex">
    <div class="my-account">
      <p>Your account</p>
      <li> <strong>login:</strong> <%= current_user.email %> </li>
      <li> <strong>password:</strong> ************ <%= link_to "edit password", edit_user_registration_path %> </li>
      <% if current_user.subscription.present? %>
        <li> <strong>Subscription status:</strong><%= current_user.subscription.subscription_status %></li><br>
        <li> <strong>Subscribed to:</strong><%= current_user.membership.title %></li><br>
        <form action="/customer_portal_sessions" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" value="Manage billing" class="btn class-card-info-button class-info-link">
        </form>
      <% else %>
        <%= link_to "choose a membership", memberships_path %>
      <% end %>
    </div>
    <div class="about-me">
      <p>About you</p>
      <li> <strong>language:</strong> <%= current_user.language %> </li>
      <li> <strong>bio:</strong> <%= current_user.bio %> </li>
    </div>
  </div>
</div>
