<div class="trainer-info-page trainer-banner">
  <div class="trainer-banner-content">
    <div class="container trainer-hero-title">
      <p><%= t('.slogan') %></p>
      <h1><%= t('.punchline') %></h1>
    </div>
  </div>
  <div class="reasons-section">
    <h2 class="text-center"><%= t('.why') %></h2>
    <div class="reasons-grid">
      <div>
        <div class="reasons-image">
          <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611667049/all-in-one_vzt7n6.png", class: "reasons-image" %>
        </div>
        <h2><%= t('.reasons.first') %></h2>
        <p><%= t('.reasons.first_explanation') %></p>
      </div>
      <div>
        <div class="reasons-image">
          <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611667049/earn-money-illustration_rbjedn.png", class: "reasons-image" %>
        </div>
        <h2><%= t('.reasons.second') %></h2>
        <p><%= t('.reasons.second_explanation') %></p>
      </div>
      <div>
        <div class="reasons-image">
          <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611667050/community_htquu2.png", class: "reasons-image" %>
        </div>
        <h2><%= t('.reasons.third') %></h2>
        <p><%= t('.reasons.third_explanation') %></p>
      </div>
    </div>
  </div>
  <div class="reasons-section mb-5">
    <h2 class="text-center"><%= t('.how_to.title') %></h2>
    <div class="reasons-grid">
      <div class="text-center">
        <div class="round-number">
          1
        </div>
        <h2><%= t('.how_to.first') %></h2>
      </div>
      <div class="text-center">
        <div class="round-number">
          2
        </div>
        <h2><%= t('.how_to.second') %></h2>
      </div>
      <div class="text-center">
        <div class="round-number">
          3
        </div>
        <h2><%= t('.how_to.third') %></h2>
      </div>
    </div>
  </div>
  <div class="how-it-works-trainers">
    <h2 class="how-it-works-title"><%= t('.steps.title') %></h2>
    <div class="how-it-works-element row">
      <div class="col-sm-12 col-lg-6 pt-5">
        <h2><%= t('.steps.first') %></h2>
        <p id="how-it-works-number">1</p>
        <p><%= t('.steps.first_explanation') %></p>
      </div>
      <div class="col-sm-12 col-lg-6 how-it-works-image">
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611513498/create-class_ceeobc.png", class: "how-it-works-image" %>
      </div>
    </div>
    <div class="how-it-works-element row">
      <div class="col-sm-12 col-lg-6 p-5">
        <h2><%= t('.steps.second') %></h2>
        <p id="how-it-works-number">2</p>
        <p><%= t('.steps.second_explanation') %></p>
      </div>
      <div class="col-sm-12 col-lg-6 how-it-works-image">
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611748433/pexels-ketut-subiyanto-4350099-min_l4b5y3.jpg", class: "how-it-works-image"%>
      </div>
    </div>
    <div class="how-it-works-element row">
      <div class="col-sm-12 col-lg-6">
        <h2><%= t('.steps.third') %></h2>
        <p id="how-it-works-number">3</p>
        <p><%= t('.steps.third_explanation') %></p>
      </div>
      <div class="col-sm-12 col-lg-6 how-it-works-image">
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611513500/give-your-class_aspj42.png", class: "how-it-works-image"%>
      </div>
    </div>
    <div class="how-it-works-element row pb-5">
      <div class="col-sm-12 col-lg-6">
        <h2><%= t('.steps.fourth') %></h2>
        <p id="how-it-works-number">4</p>
        <p><%= t('.steps.fourth_explanation') %></p>
        <p><%= t('.steps.payout') %></p>
      </div>
      <div class="col-sm-12 col-lg-6 how-it-works-image">
        <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611748438/pexels-anna-shvets-3727465-min_x2di78.jpg", class: "how-it-works-image"%>
      </div>
    </div>
  </div>
</div>
