<div class="page container">
  <p class="subscription-tagline">Great! <%= current_user.first_name %>, everything is ready. Please confirm that all the informaion is correct and hit confirm!</p>
  <div class="d-flex pt-5 membership-recap">
    <div class="container user-subscription-info">
      <p class="info-title">Your information</p>
      <p> <strong> first name:</strong>  <%= current_user.first_name %></p>
      <p><strong> last name:</strong>  <%= current_user.last_name %></p>
      <p><strong> email:</strong>  <%= current_user.email %></p>
    </div>
    <div class="container">
      <p class="info-title">Your membership</p>
      <p><strong> Membership: </strong>  <%= @membership.title %> </p>
      <p><strong>Available monthly class credits:  </strong><%= @membership.credits %> credits /month</p>
      <p><strong>Price:  </strong><%= humanized_money_with_symbol(@membership.price) %> per month</p>
      <br>
      <p>This membership will be automatically renewed on the: <%= @membership.expiration_date %>. You can cancel your subscription anytime from your profile page.</p>
      <div class="confirm">
        <%= link_to "confirm subscription", membership_subscriptions_path, method: "POST", class: "btn subscribe-button", id:'sweet-alert-subscription' %>
      </div>
    </div>
  </div>
</div>
