<div class="d-flex justify-content-center flex-column">
  <div class="chatroom-header">
    <h2><strong><%= t('.title_html') %></strong></h2>
    <h5 class="pt-5"><%= t('.welcome') %></h5>
  </div>
  <div class="chatroom-container">
      <% if @sports_classes.empty? %>
        <h5 class="no-bookings"><%= t('.book') %></h5>
      <% else %>
        <div class="chatroom-cards">
            <% @sports_classes.each do |sports_class| %>
              <div class="chatroom-card">
                <%= link_to sports_class_chatroom_path(sports_class.sports_class_chatroom.id) do %>
                <div class="card-info">
                  <p class="class-name px-3"><%= t('.chat') %><strong><%= sports_class.sports_class_chatroom.name.capitalize %></strong></p>
                  <p class="class-date-time px-3 mb-3"><%= t('.class_time') %>
                    <%= l(sports_class.date_time, format: :day) %>,
                    <%= l(sports_class.date_time, format: :month_day) %>
                    <%= local_time(l(sports_class.date_time), format: :at_time) %>
                  </p>
                  <p class="px-3"><%= t('.participants') %><strong><%= sports_class.class_bookings.count %></strong></p>
                </div>
                <div>
                  <%= cl_image_tag sports_class.photo.key %>
                </div>
                <% end %>
              </div>
            <% end %>
      <% end %>
        </div>
  </div>
</div>
