<div class="new-class-page">
  <div class="row d-flex">
    <div class="form-image-login col-lg-5">
      <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1611748153/OH5C6089_copy-min_t6vkql.jpg", class: "form-image-login" %>
    </div>
    <div class="col-xs-12 col-lg-7 ">
      <div class="form-login">
        <div class="form-header">
          <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1609194683/Yance-logo-svg_qq3q16.svg", class: "form-logo-login" %>
          <h2><%= t('.tagline') %></h2>
          <p><%= t('.switch') %> <strong><%= link_to t('.signup'), new_user_registration_path %></strong> </p>
        </div>

        <div class="form-inputs">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        placeholder: "Email",
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        label: t('.password'),
                        required: true,
                        placeholder: t('.password'),
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me,
                        label: t('.remember'),
                        as: :boolean if devise_mapping.rememberable? %>
            <div class="form-actions">
              <%= f.button :submit, t('.submit'), class: "btn class-log-in-button" %>
              <%= render "devise/shared/links", class: "class << self; self end" %>
            </div>
          <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
