<div class = "com-md-6">
<h2>Become A Trainer </h2>
<%= simple_form_for @trainer do |f| %>
  <%= f.input :city %>
  <%= f.input :sport_category %>
  <%= f.input :bio %>
  <%= f.button :submit, class: 'btn btn-save', notice: "Congratulations! You're now a trainer!"%>
<% end %>
</div>
