<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6 ">
      <div class="form-login">

          <h2>Become A Trainer </h2>
          <%= simple_form_for @trainer do |f| %>
            <%= f.input :city %>
            <%= f.input :sport_category %>
            <%= f.input :bio %>
            <%= f.input :profile_photo, as: :file %>
            <%= f.input :time_line_photo, as: :file %>
            <%= f.button :submit, class: 'btn class-sign-up-button', notice: "Congratulations! You're now a trainer!"%>
          <% end %>
        </div>
    </div>
  </div>
</div>
