<div class="new-class-page">
  <div class="row d-flex">
    <div class="form-image-trainer col-xs-12 col-lg-5">
      <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1608823717/OH5C6490_copy_j0afya.jpg", class: "form-image-trainer" %>
    </div>
    <div class="col-xs-12 col-lg-7 ">
      <div class="form-create-trainer my-5">
        <h2>Become a trainer</h2>
        <%= simple_form_for @trainer do |f| %>
          <%= f.input :city,
                      label: t('.location'),
                      placeholder: t('.city-description')%>
          <%= f.input :sport_category,
                      label: t('.sport_category'),
                      placeholder: t('.category-description') %>
          <%= f.input :bio, label: t('.bio'),
                      placeholder: t('.bio_description') %>
          <%= f.button :submit, t('.submit'),
                       class: 'btn class-log-in-button',
                       data: {disable_with: t('.loading')} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
