<div class="container-fluid">
  <div class="header-image">
  <% if @trainer.time_line_photo.attached? %>
    <%= cl_image_tag @trainer.time_line_photo.key, class: "" %>
  <%else%>
    <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606934530/pexels-cottonbro-4753885_tsedne.jpg", class: "timeline-image" %>
  <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <div class="trainer-tags">
        <div class="trainer">
          <div class="trainer-img">
            <% if @trainer.profile_photo.attached? %>
              <%= cl_image_tag @trainer.profile_photo.key, class: "trainer-profile-avatar" %>
            <% elsif @trainer.user.photo.attached? %>
              <%= cl_image_tag @trainer.user.photo.key, class: "trainer-profile-avatar" %>
            <% else %>
              <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606236817/placeholder-avatar-square_nduu1o.jpg", class: "trainer-profile-avatar" %>
            <% end %>
          </div>
          <div class="trainer-name-follow">
            <p class="trainer-name"><%=@trainer.user.first_name%> <%=@trainer.user.last_name%></p>
            <% if @trainer.user == current_user %>
              <p> <%= link_to "edit your trainer page", edit_trainer_path(@trainer), class: "trainer-edit" %> </p>
            <% end %>
          </div>
        </div>
        <div class="tags">
          <p class="title-font">Tags</p>
          <p class="category"><%=@trainer.sport_category%></p>
        </div>
        <div class="bio">
          <p class="title-font"> A little bit about me</p>
          <p class="content-font"><%=@trainer.bio%></p>
        </div>
        <div class="upcoming">
          <p class="title-font"> <%= @trainer.user.first_name%>'s upcoming classes</p>
          <div class="d-flex justify-content-center flex-column">
            <div class="classes">
              <%= render collection: @trainer_classes, partial: "shared/trainer-upcoming-classes", as: :sportsclass  %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Reviews -->
    <div class="col-sm-12 col-lg-4">
      <div class="video-reviews">
        <% if @trainer.user != current_user %>
          <%= render "reviews/new" %>
        <% end %>
        <div class="top-review-row pt-2">
          <% if @trainer.reviews.count == 1 %>
            <p class="review-count"><i class="fas fa-star"></i> <%= @trainer.reviews.count %> review</p>
          <% else %>
            <p class="review-count"><i class="fas fa-star"></i> <%= @trainer.reviews.count %> reviews</p>
          <% end %>
        </div>
        <div class="user-reviews">
          <%= render collection: @reviews, partial: "shared/reviews-listed", as: :review %>
        </div>
      </div>
    </div>
  </div>
</div>
