<!-- <div class="container-fluid">
  <div class="header-image">
  <% if @trainer.time_line_photo.attached? %>
    <%= cl_image_tag @trainer.time_line_photo.key, class: "" %>
  <%else%>
    <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606934530/pexels-cottonbro-4753885_tsedne.jpg", class: "timeline-image" %>
  <% end %>
  </div>
</div> -->
<div class="container page mt-5 mb-5">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <div class="trainer-tags">
        <div class="trainer">
          <div class="trainer-img">
            <% if @trainer.profile_photo.attached? %>
              <%= cl_image_tag @trainer.profile_photo.key, class: "trainer-profile-avatar" %>
            <% elsif @trainer.user.photo.attached? %>
              <%= cl_image_tag @trainer.user.photo.key, class: "trainer-profile-avatar" %>
            <% else %>
              <%= cl_image_tag "https://res.cloudinary.com/dorianwilsondebriano/image/upload/v1606236817/placeholder-avatar-square_nduu1o.jpg", class: "trainer-profile-avatar" %>
            <% end %>
          </div>
          <div class="trainer-name-follow">
            <div class="d-flex">
              <p class="trainer-name"><%=@trainer.user.first_name%> <%=@trainer.user.last_name%></p>
              <p class="ratings-average">
                <% @trainer.reviews.average("rating::int").to_i.times do %>
                  <i class="fas fa-star color-star"></i>
                <% end %>
                <% (5 - @trainer.reviews.average("rating::int").to_i).times do %>
                  <i class="far fa-star color-star"></i>
                <% end %>
              </p>
              <p class="ratings-count pl-0">(<%= @trainer.reviews.count %>)</p>
            </div>
            <% if @trainer.user == current_user %>
              <p> <%= link_to t('.edit'), edit_trainer_path(@trainer), class: "trainer-edit" %> </p>
            <% end %>
          </div>
        </div>
        <div class="tags">
          <p class="title-font"><%= t('.sport_type') %></p>
          <p class="category"><%=@trainer.sport_category%></p>
        </div>
        <div class="bio">
          <p class="title-font"><%= t('.trainer_bio') %></p>
          <p class="content-font"><%=@trainer.bio%></p>
        </div>
        <div class="upcoming">
          <p class="title-font"><%= t('.upcoming_classes', trainer: @trainer.user.first_name) %></p>
          <div class="d-flex justify-content-center flex-column">
            <div class="classes">
              <%= render collection: @trainer_classes, partial: "shared/trainer-upcoming-classes", as: :sportsclass  %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Reviews -->
    <div class="col-sm-12 col-lg-4">
      <div class="video-reviews">
        <% if @trainer.user != current_user %>
          <%= render "reviews/new" %>
        <% end %>
        <div class="top-review-row pt-2">
          <p class="review-count"><i class="fas fa-star"></i><%= t('.reviews', count: @trainer.reviews.count) %></p>
        </div>
        <div class="user-reviews">
          <%= render collection: @reviews, partial: "shared/reviews-listed", as: :review %>
        </div>
      </div>
    </div>
  </div>
</div>
